*{
	box-sizing: border-box;
}

div {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

@media only screen and(min-width: 512px) {
	.block{
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
  .block {
    width: 25%;
  }
}